@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900&display=swap");
* {
  border: 0px;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Nunito", sans-serif, arial; }

body, html {
  min-height: 100vh; }

h1 {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  text-shadow: 0px 0px 6px #2e2e2e; }

section {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.image-background {
  background-position: center;
  background-size: 100vw 100vh; }

#screen-01 {
  background-image: url("images/bg-galaxy.jpg"); }

#screen-02 {
  background: -webkit-gradient(linear, left top, left bottom, from(#27b0ff), to(#7125ff));
  background: -webkit-linear-gradient(#27b0ff, #7125ff);
  background: -o-linear-gradient(#27b0ff, #7125ff);
  background: linear-gradient(#27b0ff, #7125ff); }

#screen-03 {
  background-attachment: fixed;
  background-image: url("images/bg-at.png"); }

#screen-04 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6b27), to(#ff2566));
  background: -webkit-linear-gradient(#ff6b27, #ff2566);
  background: -o-linear-gradient(#ff6b27, #ff2566);
  background: linear-gradient(#ff6b27, #ff2566); }
  #screen-04 h1 {
    min-width: 800px; }
