@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Josefin Sans;
    font-size: 20px;
    line-height: 1.5rem;
}

html {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

html, body {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    min-width: 840px;
}

body {
    background: url(../five.png) no-repeat, url(../circuitry.png) no-repeat right top;

}

nav {
    height: 61px;
    line-height: 61px;
    margin-left: 235px;    display: inline-block;
    background-color: #cedce7;
}

nav a {
    padding: 0 1rem;
    color: rgb(30, 90, 180, 180);
    transition: 0.2s;
    display: inline-block;
    line-height: 61px;
    text-decoration: none;
}

nav a:hover, .current-page {
    background-color: white;
}

.nav-link {
    text-decoration: none;
}

.text-container {
    font-size: 125%;
    margin: 12.5vh 12.5vw;
}

.text-container h1 {
    text-shadow: 1px 1px 0px #fff;
    color: #666;
    font-size: 1.5rem;
}

.text-container h2, p, code, div, ul {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 2.5rem;
}

code {
    color: white;
    text-shadow: 5px 2px 7px #202020;
    display: block;
}

li {
    margin-left: 2rem;
}

.button-container .next-button {
    float: right;
}

button {
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: white;
    transition: 0.2s;
}

button a {
    color: black;
    display: inline-block;
}

button:hover {
    background-color: rgb(30, 90, 180, 180);
}

button:hover a {
    color: white;
}